.dashboard-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  animation: fadeInLeft 1s;
}

.card {
  border-radius: 12px;
  background-color: white;
}

.card-big {
  grid-column: 2 / 4;
}

.icon {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 2rem;
}

.special {
  color: white;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
